<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>글쓰기</h1><hr/>
<form method="post" action="/new">
제목 <input type="text" name="subject" placeholder="Enter the subject" /><br/>
내용  <textarea name="memo" placeholder="Enter the content"></textarea><br/>
    <input type="submit" value="Send" />
</form>

</body>
</html>