<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="mySpringDaoImpl" class="com.ktds.ehm.dao.MySpringDaoImpl"></bean>

<bean id="mySpringBizImpl" class="com.ktds.ehm.biz.MySpringBizImpl">
<property name="mySpringDao" ref="mySpringDaoImpl"></property>
</bean>

<bean id="mySpringServiceImpl" class="com.ktds.ehm.service.MySpringServiceImpl">
<property name="mySpringBiz" ref="mySpringBizImpl"></property>
</bean>

</beans>
